{% extends "home.html" %}
  {% block content %}
    <div class="list-group">

      {%for cart in carts%}
      <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
        <p class="article-content">book id :{{ cart.book_id }}</p>
       </div>
       {%endfor%}
      </div>
       total: {{total}}
    {%if  carts %}
              <div>
    
    <a class="btn btn-success btn-sm mt-1 mb-1" href="{{ url_for('add_order') }}">Add to Order</a>
    </div>
    {%endif%}
  
  {% endblock %}