{% extends "home.html" %}
  {% block content %}
  

  
  {% if book.piece <= 0 %}
		<h2>Out Of WetSite</h2>
		        {% if current_user.is_authenticated %}
		         {%if  current_user.username[:5] == "admin" and current_user.is_authenticated %}
                    <a class="btn btn-primary" href="{{ url_for('edit_book',book_id=book.id) }}" role="button">Edit</a>
            {%endif%}
        {%endif%}
	  {% else: %}

     
  <img class="rounded-circle article-img" 
  {% if book.image_file[0] == "C" %}
  src="{{ url_for('static',filename='book_profile/' + 'defalt.jpg' ) }}" width = "300" height = "300">
  {%else%}
    src="{{ url_for('static',filename='book_profile/' + book.image_file ) }}" width = "300" height = "300">
  {%endif%}
            <div class="article-metadata">
            <p class="article-content">content :{{ book.content }}</p>
            <p class="article-content">price : {{ book.price }}</p>
            <p class="article-content">author : {{ book.author }}</p>
            <p class="article-content">publication : {{ book.publication }}</p>
            <p class="article-content">ISBN : {{ book.ISBN }}</p>
            <p class="article-content">piece : {{ book.piece }}</p>
            </div>
    
<div>
<a class="btn btn-dark" href="{{ url_for('addcart',book_id=book.id) }}" role="button">Add to Cart</a>
        {% if current_user.is_authenticated %}
            {%if  current_user.username[:5] == "admin" and current_user.is_authenticated %}
                    <a class="btn btn-primary" href="{{ url_for('edit_book',book_id=book.id) }}" role="button">Edit</a>
            {%endif%}
        
        
        {%endif%}
</div>
   {%endif%}
  
  {% endblock %}